{% extends 'base.html' %}
    {% block title_content %}
        Home
    {% endblock %}
{% block body_content %}
  {% include 'navigation.html' %}
    <h1> This is Home Page </h1>
    <b>Value from context<b><h2>{{ Name }}</h2>
    <p>Programming Languages</p>
    {% for language in  programming_languages %}
    {% if language == "Python" %}
        <b style="color:green">{{ language }}</b><br>
    {% else %}
    <b style="color:blue">{{ language }}</b><br>
    {% endif %}
    {% endfor %}
{% endblock %}