{% extends 'base.html' %}
    {% block title_content %}
        Home
    {% endblock %}
{% block body_content %}
  {% include 'navigation.html' %}
    <h1> This is News Page </h1>
    News List
    {% for news in  data %}
    <br>Author : {{ news.author }}
    <br>Title  : {{ news.title }}
    <br>Description : {{ news.description}}
    {% endfor %}
    <br> Filtered data
    {% for filter in  filtered_data %}
    <br>Author : {{ filter.author }}
    <br>Title  : {{ filter.title }}
    <br>Description : {{ filter.description}}
    {% endfor %}
{% endblock %}